.topLoginBtn{
    background-color: #01182F !important;
    border: none;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    padding: 3px 10px;
}
#commonNav{
    background-color: #01182F;
}
.color3{
    background-color: #03274b !important;
}
.color4:hover{
    background-color: #03274b !important;
}
.topLoginBtn:hover{
    background-color: white !important;
    color: #01182F;

}
.menu-icon i{
color: white !important;


}
.nborder{
    border-color: white !important;
}