.logoo p{
    color: white !important;
}
.same{
    color: #BFC5CB;
}
#commonFooter{
    background-color: #01182F;
}
.same a{
    color: #BFC5CB;
}
.sign-up{
    background-color:#01182F  !important;
    height: 40px;
    border: none;
    border: 1px solid ;
    border-radius: 5px;
    color: white;
    padding: 0px 15px;
    font-weight: bold;
}
.copyright{
    border-top: 1px solid rgba(255, 255, 255, 0.089);

}
a{
    text-decoration: none !important;
    color: white !important;
}