a{

    text-decoration: none;
  }
  
  
    .signup-section {
      display: flex;
      min-height: 100vh;
    }
  
    /* Left Side: Form Section */
    .signup-left {
      display: flex;
      justify-content: center;
      padding: 40px;
      width: 100%;
      max-width: 400px;
    }
  
    /* Right Side: Image and Info Section */
  
    .signup-right img {
     height: 98vh;
    }
  
    /* Centered container for the form */
    .signup-container {
      max-width: 350px;
      width: 100%;
      margin: 0 auto;
    }
    .bottomTextpara{
      color: #4a4c4e;
    }
    .bottomTextpara1{
      color: #0d2239;
    }
  
  
    /* Logo section */
    .signup-logo img {
      max-width: 150px;
      margin-bottom: 20px;
    }
  
    /* Form styling */
    .signup-card {
      border: none;
      background-color: transparent;
    }
  
    .signup-card h3 {
      font-size: 24px;
      font-weight: bold;
    }
  
    .signup-card p {
      font-size: 14px;
      color: #6c757d;
    }
  
    .form-control {
      border-radius: 6px;
      padding: 15px 15px;
      color: #4a4c4e !important;
  
    }
    .form-control::placeholder{
      color: #6c757d;
    }
  
    .btn-primary {
      background-color: #0d6efd;
      border: none;
      padding: 12px;
      border-radius: 6px;
    }
  
    .forgot-password {
      font-size: 14px;
     font-weight: bold;
     color: #0d2239;
    }
  
    /* Social icons */
    .social-icons img {
      width: 32px;
    }
  .signupButton{
    background-color: #0d2239 !important;
    color: white;
  }
  .commonColor{
    color: #0d2239;
  }
  .registerAccount{
    color: #0d2239;
    font-weight: bold;
  }
  .txtCommonColor{
    color: #6c757d !important;
  }
    .social-icons a {
      margin: 0 10px;
    }
    @media screen and (min-width: 0px) {
      .signup-right{
        display: none;
        
      }
      .signup-section{
        display: flex;
        justify-content: center;
      }
    }
    @media screen and (min-width:992px) {
      .signup-right{
        display: ruby;      
      }
  
  
      .signup-section{
       justify-content: space-evenly;
        
        background-color: #eef8ff;
      }
      .signup-logo{
        text-align: left !important;
      }
    }

  